<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#A9BCF5"> 
    <div class="jumbotron" style="background-color:#A9BCF5">
        <h1>DELL Laptop Recommendation</h1>      
        <p>Laptops based on links</p>
    </div>
    <form action="/send" method="POST">
        <div class="form-group,col-xs-3">
          <label for="Link1">Link1:</label>
          <input type="text" class="form-control" id="link1" name="link1">
        </div>
        <div class="form-group">
            <label for="Link2">Link2:</label>
            <input type="text" class="form-control" id="link2" name="link2" >
        </div>
        <div class="form-group">
            <label for="Link3">Link3:</label>
            <input type="text" class="form-control" id="link3" name="link3">
        </div>
        <div class="form-group">
            <label for="Link4">Link4:</label>
            <input type="text" class="form-control" id="link4" name="link4">
        </div>
        <div class="form-group">
            <label for="Link5">Link5:</label>
            <input type="text" class="form-control" id="link5" name="link5">
        </div>
        <input type="submit" value="submit">
    </form>  

</body>
</html> 